form {
	margin: 20px 40px;
	padding: 0 10px;
	border: 1px solid #ddd;
}

.section {
	margin: 20px 40px;
	padding: 10px;
	border: 1px solid #ddd;
}

input {
	margin: 10px;
}

button,
input[type="submit"] {
	padding: 5px;
	border: 1px solid black;
}
