/* style.less
 * This will be the main style file which will
 * require all the other files
 */

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

body.loading {
  background-color: #000;
  background-image: url(../img/loader.gif);
  background-repeat: no-repeat;
  background-position: center 150px;
}

p {
  margin: 0;
  margin-bottom: 10px;
}
.clear{
  clear:both;
}