<div id="modal_wrapper">
	<div id="modal_overlay"></div>
	<div id="about_modal">
		<div id="modal_header">
			<h1>About Living Cities: Boston</h1>
			<a href="javascript:void(0)" onclick="UI.removeAboutModal();">
				<i class="fa fa-times fa-lg"></i>
			</a>
		</div>
		<div id="modal_body">
			<p>This Living Cities case study contextualizes Boston’s average rent prices with other relevant information. This additional context includes Boston neighborhood borders, MBTA lines, and social media posts within the city. By combining this information in a single tool, we seek to facilitate a greater understanding of where the viewer might want to live in Boston.</p>
		</div>
	</div>	
</div>