<div class="ui_menu out">

    <!-- Header -->

    <div class="menuHeader">
        <h1>DATA FILTERS</h1>
    </div>

    <div id="menuBody">
        <a href="javascript:void(0)" id="add_filter" class="trans x2" onclick="UI.elements.toggleFilterCard();">
            <p style="float:left;" class="trans x2">Explore more information</p>
            <i class="fa fa-plus trans x2" style="float:right;"></i>
        </a>
        <div href="javascript:void(0)" id="add_filter_disabled">
            <p style="float:left;" class="trans x2">Explore more information</p>
            <i class="fa fa-plus trans x2" style="float:right;"></i>
        </div>
        <div class="card add_card trans x2">
            <div class="card_left">
                <i class="fa fa-plus fa-2x"></i>
            </div>

            <div class="card_right">
                <h3>Add more information</h3>
                <a href="javascript:void(0)" id="select_set" class="select_set" onclick="UI.elements.toggleFilterList();">
                    <p>Select a data set</p>
                    <i class="fa fa-angle-down"></i>
                </a>
                <div id="select_list">
<!--                     <a href="javascript:void(0)" class="select_option" card="mbta_card" onclick="UI.addCard(this);">MBTA Lines</a>
                    <a href="javascript:void(0)" class="select_option" card="apartment_card" onclick="UI.addCard(this);">Apartment Rent Prices</a>
                    <a href="javascript:void(0)" class="select_option" card="neighborhood_card" onclick="UI.addCard(this);">Boston Neighborhoods</a> -->
                </div>
                <div class="card_buttons">
                    <a href="javascript:void(0)" id="add_cancel" onclick="UI.elements.toggleFilterCard();">Cancel</a>
                </div>
            </div>
        </div>
    
        <!-- Twitter -->
        <div class="card">
            <div class="card_left">
                <i class="fa fa-twitter fa-2x"></i>
            </div>
            <div class="card_right">
                <h3>Twitter Cached</h3>
                <div class="button" onclick="DV.twitter.addStream('baseball')">Baseball</div>
            </div>
        </div>

        <!-- Twitter -->
        <div class="card">
            <div class="card_left">
                <i class="fa fa-twitter fa-2x"></i>
            </div>

            <div class="card_right">
                <h3>Twitter Search</h3>
                <input id="twitter_key" /><br>
                <div class="button" onclick="DV.twitter.addSearch('#twitter_key')">Search Twitter</div>
                <div class="button cancel">Cancel</div>
            </div>
        </div>
        
        <!-- Clear -->
<!--         <div class="card" onclick="DV.layers.clear()">
            <div class="card_left">
                <i class="fa fa-trash-o fa-2x"></i>
            </div>
            <div class="card_right">
                <h3>Clear Layers</h3></div>
        </div> -->

    </div>
</div>