<div class="ui_menu out">

  <!-- Header -->
  <div class="menuHeader">
    <h1>DATA FILTERS</h1>
  </div>

  <div id="menuBody">
    <div class="item menu_module">
      <a href="javascript:void(0)" id="add_filter">
        <p style="float:left;">Explore more information</p>
        <i class="fa fa-plus" style="float:right;"></i>
      </a>

    </div>

    <div class="card">
      <div class="card_left">
        <p>W</p>     
      </div>
      <div class="card_right">
        <h3>Neighborhoods</h3>
        <div>
          <p>Show Boston neighborhood borders</p>
          <p>Hovering over: <span id="nhood">Back Bay</span></p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card_left">
        <p>A</p>     
      </div>
      <div class="card_right">
        <h3>Apartment Rent Heatmap</h3>
            <div class="menuSection">
            <p>Explore rent prices in different areas of Boston.</p>
            <span style="display:inline;">$</span></span><span class="price_link_lower" style="display:inline;"></span>
            <span class="price_link_upper" style="float:right; display:inline;"></span><span style="display:inline; float:right;">$</span>                
            <div class="price range"></div>
            <div style="text-align:center; height:10px;">
              <span>500- 4,000 dollars a month</span>
            </div>
          </div> 
      </div>
    </div>

  </div>
</div>