body#map-content{
  overflow:hidden; /* page won't scroll horizontally when menu shown */
}
.leaflet-control{
  float:right;
}
.leaflet-top.leaflet-left{
  right:0px;
  margin-left:0px;
  margin-right:25px;
}

#sideNavToggle {
  top: 13px;
  left: 0px;
  z-index: 10001;
  position: absolute;
  border-radius:0px;
}

#legend {
  top: 120px;
  right: 20px;
  z-index: 10001;
  position: absolute;
  background-color: #ffffff;
  padding: 10px;
}

#map-content {
  body{
    font-family: "Open Sans";
  }
  .clear{
    clear:both;
  }
  .point-cell {
    fill: none;
    pointer-events: all;
    stroke: #000;
    stroke-opacity: .2;
  }
  .point-cell:hover, .point-cell.selected {
    fill: none;
    stroke: #000;
    stroke-opacity: .6;
    stroke-width: 2px;
  }

  .point-cell.selected {
    stroke-opacity: 1;
    stroke-width: 3px;
  }

  .point circle {
    pointer-events: none;
  }

  #map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
  }

  #selected,
  #selections,
  #loading:after,
  #about{
    position:absolute;
    background-color: #FFF;
    opacity: 0.8;
    border-radius: 2px;
    padding: 10px 10px 0 10px;
  }

  #about {
    bottom: 10px;
    right: 10px;
  }

  #about.visible {
    width: 200px;
  }

  #about .hide {
    padding-bottom: 0;
    text-align: right;
  }

  #loading.visible:after {
    top: 50%;
    left: 50%;
    height: 28px;
    width: 80px;
    margin-left: -50px;
    margin-top: -30px;
    content: 'drawing...';
    font-size: 18px;
  }

  #selections {
    right:10px;
    top:10px;
    width: 190px;
  }

  #selections label {
    display: block;
    padding-bottom: 8px;
  }

  #selections input[type=checkbox] {
    position: relative;
    top: -1px;
  }

  #selections .key {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: 0 5px;
  }

  #selected {
    bottom: 10px;
    left: 10px;
    height: 28px;
  }

  #selected h1 {
    font-size: 20px;
    margin: 0px;
    line-height: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hide,
  .show {
    padding-bottom: 10px;
    display: block;
  }

  .content {
    display: none;
  } 


@media (min-width: 480px) {
  .selections .content {
    display: block;
  }
  .selections .show {
    display: none;
  }
}

.hidden .content,
.visible .show {
  display: none;
}

.hidden .show,
.visible .content {
  display: block;
}

/****************************
        FILTER UI
****************************/  

#sideNavToggle{
  -webkit-transition: transform 0.5s ease; 
  transition: transform 0.5s ease;   
}
#sideNavToggle.out{
   webkit-transform:translate3d(390px, 0, 0);
  transform:translate3d(390px, 0, 0);
 
}

#menu{

  /** /// All DOM Elements Inside #menu /// **/

  .ui_menu{
    width: 390px;
    position: absolute;
    z-index: 999;
    left:-390px;
    height: 100%;
    background-color: rgba(52, 52, 52, 0.8);
    padding:0px;
    overflow: scroll;
    box-sizing:border-box;
    -webkit-transition: transform 0.5s ease; 
    transition: transform 0.5s ease; 

    .menuHeader{
      width: 100%;
      clear:both;
      background-color: transparent;

    /** /// All DOM Elements Inside .menuHeader /// **/

      h1{
        margin-left: 20px;
        color:#FFF;
        font-size: 20px;
        padding: 10px 0px;
        line-height: normal;
        letter-spacing: .06em;
      } 
    }

    div#menuBody{
      padding:0px 20px;
      width: 100%;
      box-sizing: border-box;
      float: left;
      /** /// All DOM Elements Inside #menuBody /// **/

      .item.menu_module{
        float: left;
        width: 100%;
        margin-bottom: 10px;
        padding:0px;
        border-bottom: solid 2px black;       
        -webkit-box-shadow: 0 4px 4px -2px #343434;
        -moz-box-shadow: 0 4px 4px -2px #343434;
        box-shadow: 0 4px 4px -2px #343434;

        a#add_filter{
          border-radius: 1px;          
          background-color: #00BCD4;
          float: left;
          padding:10px 0px;
          width: 100%;

          p{
            font-size: 18px;
            float:left;
            color:#fff; 
            margin-bottom: 0px;
            margin-left: 10px;         
          }
          i{
            float: right;
            color:#fff;
            margin-bottom: 0px;
            margin-right: 10px;
            margin-top: 5px;            
          }
        }
      }

      .item.menu_module:last-child{
        border-bottom: none;
      }

      .card{
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        float: left;
        box-sizing: border-box;
        margin-bottom: 10px;
        background-color: #ffffff;
        -moz-box-shadow: 0 4px 2px -2px #343434;
        -webkit-box-shadow: 0 4px 2px -2px #343434;
        box-shadow: 0 4px 2px -2px #343434;        
        border-radius: 1px;

        .card_left{
          float: left;
          height:auto;
          width: 40px;
          position: relative;
          background-color: #9B9B9B;
          display: flex;

          i{
            margin: auto;
            color:#ffffff;
          }

        }

        .card_right{
          float: left;
          width: 280px;
          padding: 10px 15px;
          box-sizing: border-box;

          h3{
            margin: 0px;
            margin-bottom: 5px;
          }
        }
      }

      .menuSection{
        width: 100%;
        margin-bottom:15px;
        clear:both;

        /** /// All DOM Elements Inside .menuSection /// **/

        p{
          line-height: 18px;
          color: #9B9B9B;
        }

        .sectionHeader{
          font-weight: bold;
          font-style: italic;
          color:#343434;
        } 

        .noMarginBottom{
          margin-bottom: 5px;
        }

        .ui_subheader{
          font-style: normal;
          line-height: 18px;
          font-size:14px;
          color:#9B9B9B;
        }

        input[type=range]{
          width: 100%;
        }

        .range{
          margin:10px 0px;
        }

        .currentPrice,
        .currentFootage{
          font-size: 12px;
          color:#343434;
        }

        div.optionBody{
          padding-top:5px;
          padding-left: 25px;
          box-sizing:border-box;
        }

        div.optionBody p{
          margin-bottom: 0px;
        }

        span.price_link_lower,
        span.price_link_upper,
        span.footage_link_upper,
        span.footage_link_lower{
          font-size: 12px;
        }

        .rangeTitle{
          font-size: 14px;
          color:#343434;
        }
        ul#hashtags{
          list-style: none;
          padding:0px;
        }
        li.hashtag{
          cursor:pointer;
          display: inline-block;
          padding: 10px;
          border-radius: .25em;
          background-color: #E0E0E0;
          margin-bottom: 5px;
        }         
      }
    }      
  }

  .ui_menu.out{
    webkit-transform:translate3d(390px, 0, 0);
    transform:translate3d(390px, 0, 0);
  }
}


  @media (max-width: 480px) {
    #selected {
      box-sizing: border-box;
      width: 80%;
      height: 32px;
    }

    #selected h1 {
      font-size: 15px;
      line-height: 15px;
      font-weight: bold;
    }
  }

  .mapbox-control-info {
    display: none !important;
  }

  circle {
    cursor:pointer;
  }
}