body#map-content{
  overflow:hidden; /* page won't scroll horizontally when menu shown */
  display: flex;
}
.leaflet-control{
  float:right;
}
.leaflet-top.leaflet-left{
  right:0px;
  margin-left:0px;
  margin-right:25px;
}

#sideNavToggle {
  top: 0px;
  left: 0px;
  z-index: 999;
  position: absolute;
  border-radius:0px;
  padding:15px 25px;
}

#legend {
  top: 120px;
  right: 20px;
  z-index: 10001;
  position: absolute;
  background-color: #ffffff;
  padding: 10px;
}

#legend .btn-remove {
  border-radius: 4px;
  background-color: orange;
  padding: 5px 10px;
  margin-right: 10px;
  float: left;
}

#legend .btn-remove:hover {
  cursor: pointer;
}

#map-content {
  body{
    font-family: "Open Sans";
    display: flex;
  }
  .clear{
    clear:both;
  }
  .point-cell {
    fill: none;
    pointer-events: all;
    stroke: #000;
    stroke-opacity: .2;
  }
  .point-cell:hover, .point-cell.selected {
    fill: none;
    stroke: #000;
    stroke-opacity: .6;
    stroke-width: 2px;
  }

  .point-cell.selected {
    stroke-opacity: 1;
    stroke-width: 3px;
  }

  .point circle {
    pointer-events: none;
  }

  #map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;

    #apartments {
      z-index: -1;
    }
  }

  #selected,
  #selections,
  #loading:after,
  #about{
    position:absolute;
    background-color: #FFF;
    opacity: 0.8;
    border-radius: 2px;
    padding: 10px 10px 0 10px;
  }

  #about {
    bottom: 10px;
    right: 10px;
  }

  #about.visible {
    width: 200px;
  }

  #about .hide {
    padding-bottom: 0;
    text-align: right;
  }

  #loading.visible:after {
    top: 50%;
    left: 50%;
    height: 28px;
    width: 80px;
    margin-left: -50px;
    margin-top: -30px;
    content: 'drawing...';
    font-size: 18px;
  }

  #selections {
    right:10px;
    top:10px;
    width: 190px;
  }

  #selections label {
    display: block;
    padding-bottom: 8px;
  }

  #selections input[type=checkbox] {
    position: relative;
    top: -1px;
  }

  #selections .key {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: 0 5px;
  }

  #selected {
    bottom: 10px;
    left: 10px;
    height: 28px;
  }

  #selected h1 {
    font-size: 20px;
    margin: 0px;
    line-height: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hide,
  .show {
    padding-bottom: 10px;
    display: block;
  }

  .content {
    display: none;
  } 


@media (min-width: 480px) {
  .selections .content {
    display: block;
  }
  .selections .show {
    display: none;
  }
}

.hidden .content,
.visible .show {
  display: none;
}

.hidden .show,
.visible .content {
  display: block;
}

/****************************
        FILTER UI
****************************/  

#sideNavToggle{
  -webkit-transition: transform 0.5s ease; 
  transition: transform 0.5s ease;   
}
#sideNavToggle.out{
   webkit-transform:translate3d(390px, 0, 0);
  transform:translate3d(390px, 0, 0);
 
}

#menu{

  /** /// All DOM Elements Inside #menu /// **/

  .ui_menu{
    width: 390px;
    position: absolute;
    z-index: 999;
    left:-390px;
    height: 100%;
    background-color: rgba(52, 52, 52, 0.8);
    padding:0px;
    overflow: scroll;
    box-sizing:border-box;
    -webkit-transition: transform 0.5s ease; 
    transition: transform 0.5s ease; 

    .menuHeader{
      width: 100%;
      clear:both;
      background-color: transparent;

    /** /// All DOM Elements Inside .menuHeader /// **/

      h1{
        margin-left: 20px;
        color:#FFF;
        font-size: 20px;
        padding: 10px 0px;
        float: left;
        line-height: normal;
        letter-spacing: .06em;
      } 

      i{
        float: right;
        color: #9B9B9B;
        margin-right: 20px;
        margin-top: 10px;
        font-size: 20px;
      }
    }

    div#menuBody{
      padding:0px 20px;
      width: 100%;
      box-sizing: border-box;
      float: left;
      /** /// All DOM Elements Inside #menuBody /// **/

      a#add_filter{
        border-radius: 1px;          
        background-color: #00BCD4;
        float: left;
        padding:10px 0px;
        margin-bottom: 10px;
        width: 100%;
        -moz-box-shadow: 0 4px 2px -2px #343434;
        -webkit-box-shadow: 0 4px 2px -2px #343434;
        box-shadow: 0 4px 2px -2px #343434;          

        p{
          font-size: 18px;
          float:left;
          color:#fff; 
          margin-bottom: 0px;
          margin-left: 10px;         
        }
        i{
          float: right;
          color:#fff;
          margin-bottom: 0px;
          margin-right: 10px;
          margin-top: 5px;            
        }
      }

      a#add_filter:hover{
        background-color: #00ACC2;
        -moz-box-shadow: 0 4px 3px -1px #343434;
        -webkit-box-shadow: 0 3px 1px -1px #343434;
        box-shadow: 0 4px 3px -1px #343434; 

        p{
          font-size: 18.1px;
        }
        i{
          font-size: 14.1px;
        }
      }

      div#add_filter_disabled{
        display: none;
        border-radius: 1px;          
        background-color: #9B9B9B;
        opacity: .8;
        float: left;
        padding:10px 0px;
        margin-bottom: 10px;
        width: 100%;
        -moz-box-shadow: 0 4px 2px -2px #343434;
        -webkit-box-shadow: 0 4px 2px -2px #343434;
        box-shadow: 0 4px 2px -2px #343434;          

        p{
          font-size: 18px;
          float:left;
          color:#fff; 
          margin-bottom: 0px;
          margin-left: 10px;         
        }
        i{
          float: right;
          color:#fff;
          margin-bottom: 0px;
          margin-right: 10px;
          margin-top: 5px;            
        }
      }

      .card{
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        float: left;
        box-sizing: border-box;
        margin-bottom: 10px;
        background-color: #ffffff;
        -moz-box-shadow: 0 4px 2px -2px #343434;
        -webkit-box-shadow: 0 4px 2px -2px #343434;
        box-shadow: 0 4px 2px -2px #343434;        
        border-radius: 1px;

        .card_left{
          float: left;
          height:auto;
          width: 40px;
          position: relative;
          background-color: #9B9B9B;
          display: flex;

          i{
            margin: auto;
            color:#ffffff;
          }

        }

        .card_right{
          float: left;
          width: 290px;
          padding: 10px 15px;
          box-sizing: border-box;

          h3{
            margin: 0px;
            margin-bottom: 5px;
          }

          input, input:focus {
            border: none;
            border-bottom: solid 2px #9B9B9B;
            margin-bottom: 5px;
            outline: 0;
          }


          .button {
            border-radius: 3px;
            color: #fff;
            background-color: #00bcd3;
            display: inline-block;
            padding: 10px;
            font-size: 15px;
            margin-right: 10px;
            font-weight: 600;
          }

          .button.add_card{
            background-color: #fff;
          }

          .button.cancel {            
            color: #5c5c5c;
            background-color: #cfcfcf;
          }

          .button:hover{
            cursor:pointer;
          }
        }
        .card_delete{
          display: flex;
          width: 20px;
          padding: 10px 0px;
          box-sizing: border-box;

          a{
            color:#9B9B9B;

          }
        }
      }

      .card.add_card{
        height: 0px;
        top:10px;
        margin-bottom: 0px;
        
        *{
          visibility: hidden;
        }

        .card_right{
          float: left;

          a.select_set{
            position: relative;
            float: left;
            width: 100%;
            height: 24px;
            border-bottom:solid 2px #9B9B9B;

            p{
              float: left;
              font-size: 12px;
              color: #D4D4D4;
              margin-bottom: 0px;
            }
            i{
              float: right;
              color: #9B9B9B;            
            }
          }
          .card_left{
            width: 40px;
            height: 100%;
            float: left;

            i{
              margin: auto;
            }
          }
          div#select_list{
            clear:both;
            display: none;
            list-style: none;
            position: relative;
            z-index: 20;
            padding: 0px;
            background-color: #D4D4D4;
            vertical-align: middle;

            a.select_option{
              padding: 0px;
              padding-top: 6px;
              padding-left: 10px;
              box-sizing: border-box;   
              color:#000;
              position: relative;
              display: block;
              height: 25px;
              font-size: 12px;
              width: 100%;          
            }

            a.select_option:hover{
              background-color: #9B9B9B;
            }

          }
          div#select_list.expanded{
            display: block;
            position: absolute;
            width: 260px;
            top: 62px;            
          }
        }
        .card_buttons{
          clear: both;
          position: relative;
          width: 100%;
          height: 45px;
          padding-top: 10px;
          box-sizing: border-box;
          display: none;

          a{
            color:#fff;
            padding: 10px;
            box-sizing: border-box;
            position: relative;
            top:9px;
            border-radius: 2px;
          }
          a#add_to_map{
            background-color: #00BCD4; 
            margin-right: 5px;
          }
          a#add_cancel{
            background-color: #D4D4D4;
            color:#9B9B9B;
          }
        }        
      }
      .add_card.expanded{
        height: auto;
        margin-bottom: 10px;
        top: 0px;

        *{
          visibility: visible;
        }
        .card_buttons{
          display: block;
        }
      }
      .card.twitter_card{
        .tweet_parameter{
          margin-left: 5px;
          i{
            padding-bottom:5px;
            box-sizing: border-box;
          }
          i:before{
            font-size: 10px;
            position: absolute;
            top:-6px;
          }
          p{
            display: inline;
            font-size: 14px;
            padding-left:7px;
          }
        }
      }
      .card#ui_apartment{

        #gradient_range{
          width: 100%;

          #apartment_upper,
          #apartment_lower{
            color: #000;
            font-size: 12px;
            position: relative;
            display: inline;
          }
          #apartment_upper{
            float: right;
          }
        }
        
        #apartment_gradient{
          position:relative;
          height: 15px;
          width: 100%;
          border: solid 1px #9B9B9B;

          background: #fff; /* Old browsers */
          background: -moz-linear-gradient(left,  #fff 0%, #000 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fff), color-stop(100%,#000)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(left,  #fff 0%,#000 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(left,  #fff 0%,#000 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(left,  #fff 0%,#000 100%); /* IE10+ */
          background: linear-gradient(to right,  #fff 0%,#000 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#4682B4',GradientType=1 ); /* IE6-9 */
        }
      }
      .menuSection{
        width: 100%;
        margin-bottom:15px;
        clear:both;

        /** /// All DOM Elements Inside .menuSection /// **/

        p{
          line-height: 18px;
          color: #9B9B9B;
        }

        .sectionHeader{
          font-weight: bold;
          font-style: italic;
          color:#343434;
        } 

        .noMarginBottom{
          margin-bottom: 5px;
        }

        .ui_subheader{
          font-style: normal;
          line-height: 18px;
          font-size:14px;
          color:#9B9B9B;
        }

        input[type=range]{
          width: 100%;
        }

        .range{
          margin:10px 0px;
        }

        .currentPrice,
        .currentFootage{
          font-size: 12px;
          color:#343434;
        }

        div.optionBody{
          padding-top:5px;
          padding-left: 25px;
          box-sizing:border-box;
        }

        div.optionBody p{
          margin-bottom: 0px;
        }

        span.price_link_lower,
        span.price_link_upper,
        span.footage_link_upper,
        span.footage_link_lower{
          font-size: 12px;
        }

        .rangeTitle{
          font-size: 14px;
          color:#343434;
        }
        ul#hashtags{
          list-style: none;
          padding:0px;
        }
        li.hashtag{
          cursor:pointer;
          display: inline-block;
          padding: 10px;
          border-radius: .25em;
          background-color: #E0E0E0;
          margin-bottom: 5px;
        }         
      }
    }      
  }

  .ui_menu.out{
    webkit-transform:translate3d(390px, 0, 0);
    transform:translate3d(390px, 0, 0);
  }
}

#modal_wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;

  #modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .75;
    z-index: 999;
  }
  #about_modal{
    width: 100%;
    max-width: 720px;
    z-index: 1000;
    margin:auto;

    #modal_header{
      position: relative;
      width: 100%;
      height: 80px;
      background-color: #5ABCC9;
      padding: 0px 50px;
      padding-top: 30px;
      box-sizing: border-box;

      h1{
        color: #fff;
        font-size: 24px;
        float: left;
        line-height: .8em;
        font-weight: bold;
        font-style: italic;
      }
      a{
        float: right;
      }
      i{
        color: #fff;
      }
    }

    #modal_body{
      background-color: #fff;
      padding:30px 50px;

      p{
        font-size: 16px;
        color: #444444;
      }
    }

  }
}

  @media (max-width: 480px) {
    #selected {
      box-sizing: border-box;
      width: 80%;
      height: 32px;
    }

    #selected h1 {
      font-size: 15px;
      line-height: 15px;
      font-weight: bold;
    }
  }

  .mapbox-control-info {
    display: none !important;
  }

  circle {
    cursor:pointer;
  }
}