/* style.less
 * This will be the main style file which will
 * require all the other files
 */

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  position: relative;
}

p {
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.2em;
}
.clear {
  clear:both;
}

/* Loading Indicator */
#loading {
	@size: 112px;

	background-image: url('../img/gear.png');
	background-repeat: no-repeat;
	background-size: @size @size;
	height: @size;
	width: @size;
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    z-index:9999;
    font-size: 100px;
    position: absolute;
}

.spin {
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}

/**************************
    Semantic Overrides
 **************************/

.ui.left.sidebar{
  width:310px;
  padding:0px 20px;
}

/**************************
    NoUISlider Overrides
 **************************/
 
.noUi-horizontal{
  height: 2px;

}
.noUi-base{
}
.noUi-horizontal .noUi-handle{
  width:15px;
  height: 15px;
  left:0px;
  top:-7px;
  border-radius: 100%;
  background-color: #343434;
  box-shadow: none;
  border: none;
}

.noUi-handle.noUi-handle-upper{
  left:-15px;
}

.noUi-handle:before,
.noUi-handle::after{
  display: none;
}

.noUi-connect{
  box-shadow:none;
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/************
   IMPORTS
 ************/

// Custom
@import "map.less";
@import "home.less";
@import "lib/animate.less";
@import "leaflet.less";
