/* style.less
 * This will be the main style file which will
 * require all the other files
 */

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  position: relative;
}

/* body.loading { */
/*   background-color: #000; */
/*   background-image: url(../img/loader.gif); */
/*   background-repeat: no-repeat; */
/*   background-position: center 150px; */
/* } */

p {
  margin: 0;
  margin-bottom: 10px;
}
.clear {
  clear:both;
}
/************
   IMPORTS
 ************/

// Custom
@import "map.less";
@import "home.less";
@import "semantic.less";
