<!-- Apartment Prices -->
<div class="card" id="ui_apartment">
    <div class="card_left">
        <i class="fa fa-home fa-2x"></i>
    </div>
    <div class="card_right">
        <h3>Apartment Rent Heatmap</h3>
        <div class="menuSection">
            <p>Explore rent prices in different areas of Boston.</p>
            
            <span style="display:inline;">$</span>
            <span class="price_link_lower" style="display:inline;"></span>
            <span class="price_link_upper" style="float:right; display:inline;"></span>
            <span style="display:inline; float:right;">$</span>
            <div class="price range"></div>
            <div style="text-align:center; height:10px;">
                <span>500- 4,000 dollars a month</span>
            </div>
        </div>
    </div>
    <div class="card_delete">
        <a href="javascript:void(0);">
            <i class="fa fa-times fa-lg"></i>
        </a>
    </div>
</div>