<!-- Apartment Prices -->
<div class="card" id="ui_apartment" visualization="hexmap">
    <div class="card_left">
        <i class="fa fa-home fa-2x"></i>
    </div>
    <div class="card_right">
        <h3>Apartment Rent Heatmap</h3>
        <div class="menuSection">
            <p>Explore rent prices in different areas of Boston.</p>
            <div id="gradient_range">
                <p id="apartment_lower">$500</p>
                <p id="apartment_upper">$4000</p>
            </div>            
            <div id="apartment_gradient"></div>
        </div>
    </div>
    <div class="card_delete">
        <a href="javascript:void(0);" onclick="UI.removeCard(this);">
            <i class="fa fa-times fa-lg"></i>
        </a>
    </div>
</div>
<script type="text/javascript">
    DV.layers.add(options.layers.apartments)
</script>