<!-- Neighborhoods -->
<!-- http://bl.ocks.org/awoodruff/728754e48c11a94b522b -->
<div class="card" id="ui_neighborhoods" visualization="neighborhoods">
    <div class="card_left">
        <i class="fa fa-map fa-2x"></i>
    </div>
    <div class="card_right">
        <h3>Neighborhoods</h3>
        <div>
            <p>Show Boston neighborhood borders</p>
            <p>Hovering over: <span id="nhood">Back Bay</span></p>
        </div>

    </div>
    <div class="card_delete">
        <a href="javascript:void(0);">
            <i class="fa fa-times fa-lg"></i>
        </a>
    </div>  
</div>
<script>
    DV.layers.add(options.layers.neighborhoods);
</script>  