<!-- Twitter Cashed-->
<div class="card twitter_card" visualization="">
    <div class="card_left">
        <i class="fa fa-twitter fa-2x"></i>
    </div>
    <div class="card_right">
        <h3>Twitter - 
            <span class="tweet_parameter">
                <i class="fa fa-circle"></i>
            </span>
        </h3>
    </div>
    <div class="card_delete">
        <a href="javascript:void(0);" onclick="UI.removeCard(this);">
            <i class="fa fa-times fa-lg"></i>
        </a>
    </div>    
</div>
